# мусор и тяжёлое
node_modules
.git
dist
coverage
.tmp
**/*.log

# важно явно оставить lock-файлы и фронт
!package.json
!package-lock.json
!frontend/**
!frontend/package.json
!frontend/package-lock.json
